* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body{
    background-color: #202124;
    color: #ccc;
}

.container{
    width: 50%;
    margin: 60px auto;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

form input{
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #202124;
    color: #fff;
    outline: 0;
}

form button{
    padding: 8px;
    background-color: #202124;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}


ul li{
    list-style: none;
    margin-bottom: 12px;
    cursor: pointer;
}

.texto-riscado{
    text-decoration: line-through;
}